In [7]:
list_obj=pd.Series([1,2,3,4,5,6,7],name = "list_object")

In [8]:
import pandas as pd
import numpy as np

In [9]:
list_obj

0    1
1    2
2    3
3    4
4    5
5    6
6    7
Name: list_object, dtype: int64

In [10]:
list_obj.index=["a","b","c","d","e","f","g"]

In [11]:
list_obj

a    1
b    2
c    3
d    4
e    5
f    6
g    7
Name: list_object, dtype: int64

In [ ]:
list_obj=pd.Series({1,2,3,4,5,6,7},name = "list_object")

In [13]:
single_value_obj=pd.Series(7,index=np.arange(7),name="single_value_obj")

In [14]:
single_value_obj

0    7
1    7
2    7
3    7
4    7
5    7
6    7
Name: single_value_obj, dtype: int64

In [ ]:
single_value_obj=pd.Series([1,2,3],index=np.arange(7),name="single_value_obj")#number of data values must be equal to the number of index values

In [16]:
dict_data = {'a':0,'b':1,'c':2}
s = pd.Series(dict_data, index = ['b','c' , 'x' ,'d'])

In [17]:
dict_data

{'a': 0, 'b': 1, 'c': 2}

In [18]:
s

b    1.0
c    2.0
x    NaN
d    NaN
dtype: float64

In [19]:
#slicing a series object

In [23]:
#we have seen that series objects are nothing but an one dimentional label
# so,slicing works similaryly to any one dimentional numpy array,
#posiiton and labels.

series_obj=pd.Series(np.arange(10),name="slicing_demo")

In [24]:
series_obj[0:5]

0    0
1    1
2    2
3    3
4    4
Name: slicing_demo, dtype: int64

In [26]:
series_obj.index=["a","b","c","d","e","f","g","h","i","j"]

In [27]:
series_obj

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
Name: slicing_demo, dtype: int64

In [28]:
series_obj[0:5]

a    0
b    1
c    2
d    3
e    4
Name: slicing_demo, dtype: int64

In [29]:
series_obj[-1:-8:-2]

j    9
h    7
f    5
d    3
Name: slicing_demo, dtype: int64

In [30]:
series_obj[-1::-1]

j    9
i    8
h    7
g    6
f    5
e    4
d    3
c    2
b    1
a    0
Name: slicing_demo, dtype: int64

In [31]:
series_obj[:]

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
Name: slicing_demo, dtype: int64

In [32]:
series_obj[-4:]#this method can give the last 4 elements in the series,this method can be used to get the respective last range of elements

g    6
h    7
i    8
j    9
Name: slicing_demo, dtype: int64

In [35]:
series_obj[-2:]

i    8
j    9
Name: slicing_demo, dtype: int64

In [36]:
sub="python"
sub[-4:]

'thon'

In [43]:
series_obj["a":"e":2]

a    0
c    2
e    4
Name: slicing_demo, dtype: int64

In [44]:
series_obj["a":"e":2]

a    0
c    2
e    4
Name: slicing_demo, dtype: int64

In [72]:
series_obj=pd.Series(np.arange(5),index=["zero","one","two","three","four"])

In [47]:
series_obj

zero     0
one      1
two      2
three    3
four     4
dtype: int64

In [48]:
series_obj["one":"four"]

one      1
two      2
three    3
four     4
dtype: int64

In [49]:
#pandas support label based slicing and it is inclusive of both start and the stop labels in case of a series object

In [53]:
series_obj["four":"one":-1]

four     4
three    3
two      2
one      1
dtype: int64

In [56]:
series_obj["two":]

two      2
three    3
four     4
dtype: int64

In [58]:

series_obj["four"::-1]

four     4
three    3
two      2
one      1
zero     0
dtype: int64

In [60]:
series_obj.dtype

dtype('int64')

In [61]:
print(series_obj.dtype)

int64

In [63]:
series_obj.ndim # Series is always one dimentional

1

In [64]:
series_obj.shape

(5,)

In [65]:
series_obj.size

5

In [66]:
series_obj.values

array([0, 1, 2, 3, 4])

In [67]:
series_obj.values.dtype

dtype('int64')

In [69]:
series_obj.at["zero"]

np.int64(0)

In [70]:
series_obj["four"]="hello"

C:\Users\jobin jose\AppData\Local\Temp\ipykernel_12812\2811265703.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'hello' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  series_obj["four"]="hello"

In [71]:
series_obj.at["four"]

'hello'

In [73]:
series_obj.loc[["one","three"]]

one      1
three    3
dtype: int64

In [74]:
#.iat (accesses a single value using its corresponding integer value )
series_obj.iat[4]

np.int64(4)

In [76]:
series_obj.iat[4]

np.int64(4)

In [78]:
series_obj.iat[[1,2,3]]# we can only access only one interger value using .iat

ValueError: Invalid call for scalar access (getting)!

In [80]:
series_obj.iloc[[1,2,3]]#to access multiple avlue using the integer value ,we can use .iloc method

one      1
two      2
three    3
dtype: int64

In [83]:
series_obj.empty#indicte swhetehr your Series is empty or not

False

In [84]:
series_obj.index

Index(['zero', 'one', 'two', 'three', 'four'], dtype='object')

In [85]:
series_obj.index[2]

'two'

In [88]:
series_obj.hasnans#indicate whether my Series obj has any NaN objects

False

In [90]:
series_obj.name#gives the name of the Series object if there is any

In [91]:
series_obj.is_monotonic_decreasing

False

In [92]:
series_obj.is_monotonic_increasing

True

In [98]:
series_obj=pd.Series(np.arange(10),index=["zero","one","one","one","two","three","three","seven","zero","one"])

In [99]:
series_obj

zero     0
one      1
one      2
one      3
two      4
three    5
three    6
seven    7
zero     8
one      9
dtype: int64

In [100]:
series_obj["zero":"one"]

KeyError: "Cannot get left slice bound for non-unique label: 'zero'"

In [102]:
series_obj=pd.Series(np.arange(6),index=["zero","one","two","three","three","five"])

In [103]:
series_obj["one":"three"]

one      1
two      2
three    3
three    4
dtype: int64

In [104]:
series_obj["three":"one":-1]

three    4
three    3
two      2
one      1
dtype: int64

In [105]:
series_obj.at["three"]

three    3
three    4
dtype: int64

In [107]:
series_obj.loc[["one","two","three"]]

one      1
two      2
three    3
three    4
dtype: int64

In [109]:
series_obj.T#to find the Teanspose of the Series object.but since Series is one dimentional .it gives the same table,or the same series

zero     0
one      1
two      2
three    3
three    4
five     5
dtype: int64

In [110]:
#with pandas Series objects,you have to ability to perform arithmetic operations in a vectorized manner.
#this means that you can perform theese operations without looping through the elements individually.
#we ill look at how we can perform thhese ops on a single Sereis object as well as on

In [117]:
sereis_obj=pd.Series(np.arange(7))
series_obj+2

zero     2
one      3
two      4
three    5
three    6
five     7
dtype: int64

In [118]:
sereis_obj//2

0    0
1    0
2    1
3    1
4    2
5    2
6    3
dtype: int64

In [122]:
series_obj=pd.Series(np.arange(8),index=list("abcdefgh"),name="ops_demo")

In [123]:
sereis_obj

0    0
1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64

In [124]:
#arithmtic ops between teo sereis object
series1=pd.Series(np.arange(6),index=list("abcdef"))
series2=pd.Series(np.arange(7),index=list("defghij"))

In [125]:
series1+series2

a    NaN
b    NaN
c    NaN
d    3.0
e    5.0
f    7.0
g    NaN
h    NaN
i    NaN
j    NaN
dtype: float64

In [128]:
series1/series2

a    NaN
b    NaN
c    NaN
d    inf
e    4.0
f    2.5
g    NaN
h    NaN
i    NaN
j    NaN
dtype: float64

In [129]:
series1

a    0
b    1
c    2
d    3
e    4
f    5
dtype: int64

In [130]:
series1.to_list()

[0, 1, 2, 3, 4, 5]

In [131]:
series1.to_numpy()

array([0, 1, 2, 3, 4, 5])

In [132]:
series1.to_dict

<bound method Series.to_dict of a    0
b    1
c    2
d    3
e    4
f    5
dtype: int64>

In [133]:
series1.to_dict()

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5}

In [134]:
series1.to_frame()

   0
a  0
b  1
c  2
d  3
e  4
f  5

In [136]:
series1.to_frame().shape

(6, 1)

In [137]:
series1.to_string()

'a    0\nb    1\nc    2\nd    3\ne    4\nf    5'